<h1>About us</h1>
<p>Quotes-App is an online collection of educational resources on campaign strategy, community organising, digital campaigning, communications and media, working effectively in groups, fundraising, diversity and inclusion and much more.

    We collect, curate and distribute the key lessons and resources of progressive movements around Australia and across the globe.
    
    This online library is a space for education and learning. Our collections include videos, podcasts, manuals, case studies, articles, practical how-to guides, and training materials to inform and equip you to influence public policy and engage in political structures.
    
    The Commons vision is an Australia that has well informed, skilled, collaborative and effective movements for social and ecological justice.
    
    Our work includes:
    
    monitoring needs and emerging trends;
    encouraging people to share their knowledge with each other by contributing to the library’s collections;
    connecting people with the knowledge that will enrich their work; and
    amplifying existing capacity building endeavours.
</p>
<small>lastName.firstName@gmail.com</small> 
<a class="btn btn-sm btn-success">Get ready to be inspired</a>