/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body{
    background-image: url(./assets/photo-1519304520401-239e2a56a1aa.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
